.warning{
    line-height: 20px;
    width: 80%;
    font-size: 12px;
}

h2.selectStock{
    color: #F2594B;
    font-weight: bold;
    text-align: center;
}

div.selectStockAlert{
    line-height: 30px;
}

.leftContainer, .rightContainer{
    width: 30%;
    padding: 0;
    margin: 0;
}

.rightDialog{
    margin: 0 auto 15px auto;
    width: 90%;
}

#second{

}

#first{

}
